@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #DAE0E6;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    margin-bottom: 1em;
    background-color: white;
    padding: 0.5em 1em;
}

nav>* {
    margin: 0 0.5em;
}

nav img {
    display: block;
    height: 35px;
    width: auto;
    cursor: pointer;
}

nav .drop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.25em;
    height: 100%;
    width: 200px;
    cursor: pointer;
    color: rgb(27, 27, 27);
}

nav .drop:hover {
    border-color: #d3d3d3;
    outline: none;
}

nav .drop>* {
    display: flex;
    align-items: center;
}

nav .icon-tabler-home {
    margin-right: 0.5em;
    stroke-width: 1px;
}

nav .search {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #f5f5f5;
    color: #d3d3d3;
    padding: 1px 1em 0 0.5em;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    cursor: text;
}

nav .search:hover {
    border-color: rgb(79, 79, 196);
}

nav .search .icon {
    margin-right: 0.25em;
}

nav .search input {
    border: none;
    flex: 1;
    background: none;
}

nav .search input:focus {
    outline: none;
}

nav .icon-group {
    display: flex;
    align-items: center;
}

nav .icon-group>* {
    margin: 0 0.25em;
    stroke-width: 1px;
    cursor: pointer;
}

nav .icon-group>*:hover {
    background: rgb(228, 228, 228);
}

nav .coin {
    display: flex;
    align-items: center;
    color: black;
    background: yellow;
    background: linear-gradient(180deg, rgb(255, 217, 0) 50%, rgb(253, 227, 76) 50%);
    padding: 0 0.75em;
    border-radius: 60px;
    cursor: pointer;
}

nav .coin:hover {
    background: rgb(255, 217, 0);
}

nav .coin svg {
    margin-right: 0.25em;
    stroke-width: 1px;
}


.m-cont {
    background: white;
    border-radius: 4px;
    padding: 0.5em;
    border: 1px solid rgb(206, 206, 206);
}

#create {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

#create .profile {
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgb(228, 228, 228);
    background: rgb(228, 228, 228);
    padding: 0px;
}

#create .profile img {
    display: block;
    height: 100%;
    border-radius: 50%;
}

#create .post-title {
    padding: 0 1em;
    flex: 1;
}

#create .post-title input {
    width: 100%;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    background-color: #f5f5f5;
    height: 100%;
    padding-left: 0.5em;
}

#create .post-title input:hover {
    border-color: #e2e2e2;
}

#create .post-title input:focus {
    outline: none;
    border-color: #e2e2e2;
}

#create .media {
    display: flex;
    align-items: center;
}

#create .media>* {
    stroke-width: 1px;
    cursor: pointer;
}

#create .media>*:hover {
    background: rgb(233, 233, 233);
}


#filter {
    display: flex;
    justify-content: space-between;
}

#filter .f-group {
    display: flex;
}

#filter .f-group .f-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 1em;
    padding: 0 0.5em;
    border-radius: 50px;
    color: grey;
}

#filter .f-group .f-item:hover {
    background: rgb(236, 236, 236);
}

#filter .f-group .f-item svg {
    stroke-width: 1px;
    margin-right: 0.25em;
}

#filter .l-style {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: grey;
}

#filter .l-style svg {
    stroke-width: 1px;
}

.post {
    display: flex;
    padding: 0;
    border-radius: 4px;
    cursor: pointer;
}

.post:hover{
    border: 1px solid rgb(161, 161, 161);
}

.post .control {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.75em;
    background: rgb(247, 247, 247);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.post .control .cont-top svg {
    stroke-width: 1px;
    color: grey;
    cursor: pointer;
}

.post .control .cont-top svg:hover{
    background: rgb(233, 233, 233);
    stroke:rgb(52, 113, 243)
}

.post .control .cont-mid {
    font-size: 14px;
}

.post .control .cont-bot svg {
    stroke-width: 1px;
    color: grey;
    cursor: pointer;
}
.post .control .cont-bot svg:hover{
    background: rgb(233, 233, 233);
    stroke:rgb(255, 113, 0)
}

.post .content {
    padding: 0.5em;
}

.post .content .post-heading {
    margin-bottom: 0.25em;
}

.post .content .post-title {
    margin-bottom: 0.25em;
}

.post .content .post-content {
    margin-bottom: 0.25em;
}

.post .content .post-footer {
    display: flex;
}

.post .content .post-footer .pf-icon {
    display: flex;
    align-items: center;
    padding: 0.25em;
    margin-right: 0.5em;
    color: rgb(87, 87, 87);
    font-size: 12px;
    cursor: pointer;
}

.post .content .post-footer .pf-icon:hover{
    background-color: rgb(211, 211, 211);
}

.post .content .post-footer .pf-icon svg{
    margin-right: 4px;
    stroke-width: 1px;
}


.post .content .post-heading{
    display: flex;
    align-items: center;
    font-size: 11px;
}

.post .content .post-heading svg{
    stroke: rgb(255, 81, 0);
}

.post .content .post-heading .sub-link{
    font-weight: 700;
    margin-right: 0.5em;
}

.post .content .post-title h3{
    font-weight: 500;
    color: rgb(34, 34, 34);
}

.post .content .post-content p{
    font-weight: 400;
    color: rgb(78, 78, 78);
    font-size: 14px;
    margin-bottom: 0.5em;
}

#footer{
    position: sticky;
    top: 66px;
    padding-right: 4em;
    font-size: 12px;
}

#footer p:hover{
    cursor: pointer;
}

#footer .foot-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.h-100{
    height: 100%;
}

.p-cont{
    background: white;
    border-radius: 4px;
    border: 1px solid rgb(206, 206, 206);
}

.aside{
    margin-bottom: 1em;
}